.container{
    width: 90%;
    /* background-color: red; */
    margin: auto;
}
.navbar{
    display: flex;
    /* background-color: green; */
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.navlinks span{
    margin-right: 30px;
    cursor: pointer;
}
.navlinks span:hover{
    color: brown;
}
.logo{
    font-size: 45px;
    font-weight: lighter;
    color: red;
}
.header{
    background: url('../images/header.png');
    background-color: #d9d8d6;
    height: 450px;
    border-radius: 20px;
    background-size: cover;/*cover, contain, 800px 700px ...*/
    /* background-repeat: no-repeat; */
    background-position: 100px -40px; /*right center, left center, center, top, bottom, */
    padding: 60px;
}

.headercontent{
    width: 50%;
    /* margin: auto; */
    height: 450px;
    display: flex;
    align-items: center;
}
.headercontent h2{
    color: brown;
}

.headercontent h1{
    color: white;
    font-size: 65px;
    font-weight: 100;
}
.headercontent p{
    color: white;
    font-size: 25px;
}

.headercontent button{
    padding: 10px;
}